*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: 45%#0c192c ,45% blue;
    
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/ var(--i));
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ff2d75,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate {
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10) scale(1);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: #0c192c;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.navbar ul{ 

list-style-type: none;
padding: 0px;
margin: 0px;
overflow: hidden;

}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: blue;
    opacity: 2;
}
.navbar li{
    float: left;
}

.video-container{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.PRE{
    width: 900px;
    height: 900px;
    position: relative;
    float: left;

}
.EP{
    width: 900px;
    height: 900px;
    position: relative;
}
.MT{
    width: 900px;
    height: 900px;
    position: relative;
}
.TMA{
    width: 900px;
    height: 900px;
    position: relative;
}
.SSA{
    width: 900px;
    height: 900px;
    position: relative;
}
.SK{
    width: 900px;
    height: 900px;
    position: relative;
}
.PTV{
    width: 900px;
    height: 900px;
    position: relative;
}
.OOM{
    width: 900px;
    height: 900px;
    position: relative;
}
.MRR{
    width: 900px;
    height: 900px;
    position: relative;
}
.di{
    list-style: none;
    display: none;
    top: 100%;
    left: 10px;
    z-index: 102;
}
.coud:hover .di{
    display: block;
}